<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SecondActivity -->
        <activity
            android:name=".ui.activity.SecondActivity"
            android:label="SecondActivity"
            android:launchMode="singleTop" />

        <!-- Dialog Activity -->
        <activity
            android:name=".ui.activity.DialogActivity"
            android:excludeFromRecents="true"
            android:label="DialogActivity"
            android:launchMode="singleTask"
            android:taskAffinity=".FLAG_ACTIVITY_NEW_TASK" />
        <!-- android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" -->

        <service android:name=".service.MyService" />

        <receiver
            android:name=".recevier.MyNetworkChangeReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="E2EGBPHrsreBGIN0l649lqSRbE8tbGae" />

        <receiver android:name=".ui.fragment.manager.PowerFragment$PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />

                <!-- 监控电量显著变化 -->
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.ThirdActivity"
            android:label="ThirdActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.activity.FourActivity"
            android:label="@string/title_activity_four"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".ui.activity.FifthActivity"
            android:label="@string/title_activity_fifth"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ui.activity.NetworkActivity" />

        <activity
            android:name=".TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>